<script type="module">
  import * as Turbo from 'https://cdn.skypack.dev/@hotwired/turbo@7.3.0';
</script>

<turbo-stream action="replace" target="subscriber-notification">
  <template>
    <div id="subscriber-notification">
      <%= @name %> has subscribed!
    </div>
  </template>
</turbo-stream>

<turbo-stream action="append" target="subscriber-list">
  <template>
    <li><%= params[:name] %></li>
  </template>
</turbo-stream>
